<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
         <img class="logo" src="{{site.baseurl}}/images/logo.png"/>
      </div>

      <div class="footer-col footer-col-2">
          <p>
              <a class="page-link" href="{{ "/" | relative_url }}">Home</a>
          </p>
        {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <p>
                <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </p>
            {%- endif -%}
          {%- endfor -%}
      </div>
    </div>

  </div>

</footer>
